<% include ../partials/header %>
<div class="container">
    <div class="row">
    <h2 style="text-align:center">Upload Pic</h2>
    <div style="width:30%; margin:25px auto;">
        <form action="/instablogs/<%= instablog._id %>/?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text"  name="instablog[name]" value="<%= instablog.name %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text"  name="instablog[image]" value="<%= instablog.image %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="instablog[description]" value="<%= instablog.description %>">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/instablogs">back</a>
    </div>
    
    </div>
</div>
<% include ../partials/footer %>